<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Coupons_tab" translate="label" sortOrder="0">
            <label>discount_coupons</label>
        </tab>
        <section id="discount_coupons_section" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <tab>Coupons_tab</tab>
            <resource>Magento_Config::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="delay_open" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delay to show popup (seconds)</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="discount" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Discount Percentage</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
                <field id="expiration" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Coupon Life Time (secs)</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="category_id" translate="label" type="select" sortOrder="60"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category</label>
                    <source_model>Mauro\CustomerCouponShow\Model\Config\Source\Category</source_model>
                    <comment>Select category where coupon should appear</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                
            </group>
        </section>
    </system>
</config>